title = "Home"
url = "/"
layout = "default"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = "20"
noPostsMessage = "No posts found!"
sortOrder = "published_at desc"
categoryPage = "blog/tag"
postPage = "blog/post"
==

<div id="main" role="main">
    <ul id="tiles">
    {% for post in blogPosts.posts %}
        <li onclick="location.href='{{ post.slug }}';">
            <img src="{{ post.featured_images.0.path }}" width="282" height="118">
            <div class="post-info">
                <div class="post-basic-info">
                    <h3><a href="{{ post.slug }}">{{ post.title }}</a></h3>
                    <span>
                        {% for category in post.categories %}
                            <a href="{{ category.slug }}">
                                <label></label>{{ category.name }}
                            </a>
                        {% endfor %}
                    </span>
                    <p>
                        {{ post.excerpt[:150] ~ '...' }}
                    </p>
                </div>
                <div class="post-info-rate-share">
                    <div class="rateit">
                        <span> </span>
                    </div>
                    <div class="post-share">
                        <span> </span>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
